<?xml version='1.0'?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_GoogleAccountLogin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="am_google_account_login" translate="label" type="text" sortOrder="70112" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Amasty_GoogleAccountLogin::config</resource>
            <class>separator-top</class>
            <label>Google Account Login</label>
            <tab>amasty</tab>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\GoogleAccountLogin\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Admin Login with Google</label>
                    <comment><![CDATA[Click <a href="https://amasty.com/docs/doku.php?id=magento_2:google_account_login" target="_blank">here</a>  for further configuration instructions.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Amasty\GoogleAccountLogin\Model\Config\Backend\Social</backend_model>
                </field>

                <field id="redirect_url" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Amasty\GoogleAccountLogin\Block\Adminhtml\System\Config\RedirectUrl</frontend_model>
                    <label>Valid ACS URL</label>
                    <comment>Please copy this URL and insert into Google app.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="valid_entity_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Amasty\GoogleAccountLogin\Block\Adminhtml\System\Config\EntityId</frontend_model>
                    <label>Valid Entity ID</label>
                    <comment>Please copy this URL and insert into Google app.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="target_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Identity Provider SSO URL</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="entity_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Identity Provider Entity ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="certificate" translate="label comment" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Identity Provider Certificate</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Please insert Public X.509 certificate of the IdP.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
