<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amcoupons" translate="label" type="text" sortOrder="132103" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Amasty_Coupons::config_coupons</resource>
            <class>separator-top</class>
            <label>Multiple Coupons</label>
            <tab>amasty</tab>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\Coupons\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="unique_codes" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unique codes</label>
                    <comment>If some other codes from the list is applied, all other coupons will be removed. The coupon codes are separated by commas</comment>
                </field>
                <field id="allow_same_rule" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Several Coupons from the Same Rule</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="order_limit" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Limitations</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_limitations_type" translate="label" type="select" sortOrder="30" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Apply Discount Limit</label>
                    <source_model>Amasty\Coupons\Model\Config\Source\OrderLimitations</source_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="order_limitations_value" translate="label" type="text" sortOrder="40" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Discount Limit per Order</label>
                    <comment>Input Litmit</comment>
                    <validate>required-entry validate-no-empty validate-number validate-greater-than-zero</validate>
                    <!-- <validate>validate-digits-range digits-range-0-100</validate> -->
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field> 
            </group>

            <group id="not_apply_restriction" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Do NOT Apply Rules With</label>
                <field id="coupon_disable" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Coupon codes</label>
                </field>
                <field id="discount_id_disable" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Shopping Cart Rule (discount)</label>
                    <source_model>Amasty\Coupons\Model\Config\Source\OptionProvider</source_model>
                </field> 
            </group>
            
        </section>
    </system>
</config>
